<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="openHAB Target Platform" sequenceNumber="193 ">
<locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <unit id="joda-time" version="2.9.2"/>
        <unit id="org.apache.servicemix.bundles.xstream" version="1.4.7.1"/>
        <unit id="org.openhab.core" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.audio" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.auth.jaas" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.auth.oauth2client" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.automation" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.automation.module.media" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.automation.module.script" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.automation.module.script.rulesupport" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.automation.rest" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.binding.xml" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.boot" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.compat1x" version="2.5.0.20190129224328"/>
        <unit id="org.openhab.core.config.core" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.config.discovery" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.config.discovery.mdns" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.config.discovery.upnp" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.config.discovery.usbserial" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.config.discovery.usbserial.linuxsysfs" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.config.dispatch" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.config.serial" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.config.xml" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.extension.sample" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.id" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.console" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.console.eclipse" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.console.rfc147" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.http" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.http.auth" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.http.auth.basic" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.monitor" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.net" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.rest" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.rest.auth" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.rest.core" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.rest.log" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.rest.mdns" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.rest.optimize" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.rest.sitemap" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.rest.sse" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.rest.voice" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.transport.dbus" version="2.5.0.20190129224329"/>
        <unit id="org.openhab.core.io.transport.mdns" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.io.transport.mqtt" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.io.transport.serial" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.io.transport.serial.javacomm" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.io.transport.serial.rxtx" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.io.transport.serial.rxtx.rfc2217" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.io.transport.upnp" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.core" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.item" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.item.ide" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.item.runtime" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.lsp" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.persistence" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.persistence.ide" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.persistence.runtime" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.rule" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.rule.ide" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.rule.runtime" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.script" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.script.ide" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.script.runtime" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.sitemap" version="2.5.0.20190129224330"/>
        <unit id="org.openhab.core.model.sitemap.ide" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.model.sitemap.runtime" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.model.thing" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.model.thing.ide" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.model.thing.runtime" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.persistence" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.scheduler" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.semantics" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.storage.json" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.storage.mapdb" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.thing" version="2.5.0.20190129224331"/>
        <unit id="org.openhab.core.thing.xml" version="2.5.0.20190129224332"/>
        <unit id="org.openhab.core.transform" version="2.5.0.20190129224332"/>
        <unit id="org.openhab.core.ui" version="2.5.0.20190129224332"/>
        <unit id="org.openhab.core.ui.dashboard" version="2.5.0.20190129224332"/>
        <unit id="org.openhab.core.ui.icon" version="2.5.0.20190129224332"/>
        <unit id="org.openhab.core.voice" version="2.5.0.20190129224332"/>
        <repository location="file:/Users/kai/Documents/dev/openhab2-full/git/openhab-core/features/p2/repo/target/repository/"/>
        <unit id="org.openhab.core.test" version="2.5.0.20190129224332"/>
    </location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.minidev.accessors-smart" version="0.0.0"/>
<unit id="net.minidev.accessors-smart.source" version="0.0.0"/>
<unit id="com.jayway.jsonpath.json-path" version="0.0.0"/>
<unit id="com.jayway.jsonpath.json-path.source" version="0.0.0"/>
<unit id="org.apache.commons.net" version="3.3.0"/>
<unit id="org.apache.commons.net.source" version="3.3.0"/>
<unit id="org.mapdb.mapdb" version="0.0.0"/>
<unit id="org.mapdb.mapdb.source" version="0.0.0"/>
<unit id="net.minidev.json-smart" version="0.0.0"/>
<unit id="net.minidev.json-smart.source" version="0.0.0"/>
<unit id="javax.measure.unit-api" version="0.0.0"/>
<unit id="javax.measure.unit-api.source" version="0.0.0"/>
<unit id="tec.uom.lib.uom-lib-common" version="0.0.0"/>
<unit id="tec.uom.lib.uom-lib-common.source" version="0.0.0"/>
<unit id="tec.uom.se" version="0.0.0"/>
<unit id="tec.uom.se.source" version="0.0.0"/>
<unit id="org.h2" version="0.0.0"/>
<unit id="org.h2.source" version="0.0.0"/>
<unit id="org.osgi.service.jdbc" version="0.0.0"/>
<unit id="org.osgi.service.jdbc.source" version="0.0.0"/>
<unit id="californium-osgi" version="0.0.0"/>
<unit id="org.eclipse.californium.element-connector" version="0.0.0"/>
<unit id="org.eclipse.californium.scandium" version="0.0.0"/>
<unit id="org.eclipse.microprofile.metrics" version="0.0.0"/>
<unit id="osgi.annotation" version="0.0.0"/>
<unit id="osgi.annotation.source" version="0.0.0"/>
<unit id="org.mockito.mockito-core" version="0.0.0"/>
<unit id="org.mockito.mockito-core.source" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="org.objenesis.source" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy.source" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy-agent" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy-agent.source" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm.aarch64" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm.armv6hf" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm.x86_64" version="0.0.0"/>
<unit id="org.eclipse.paho.client.mqttv3" version="0.0.0"/>
<repository location="http://eclipse.github.io/smarthome/third-party/target/repository"/>
</location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <unit id="org.openhab.deps.runtime.feature.group" version="1.0.38"/>
        <unit id="org.openhab.deps.test.feature.group" version="1.0.38"/>
        <repository location="jar:file:/Users/kai/Documents/dev/openhab/repo/openhab-deps-repo/p2/org.openhab.deps.repository/target/openhab-deps-repo-1.0.38.zip!/"/>
    </location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.0.v20170531-1133"/>
<unit id="org.eclipse.jdt.feature.group" version="3.13.0.v20170612-0950"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7/R-4.7-201706120950"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>